.mybutton {
    width: 12em;
}

.styler{
    position: absolute;
    cursor: pointer;
    background: #5bc0de;
   display: inline-block; 
   border: 1px solid #46b8da;
   border-radius: 5px;
    height: 6em;
    width: 12em;
    overflow: auto;
}

.styler li:hover {
    border: transparent;
    font-weight: normal;
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
    border-radius: 25px;
    cursor: pointer;

}
.styler ul li {
   list-style-type: none; 
   margin-left: -40px;
}

.styler label{
    margin-left: 0px;
    vertical-align: center;
    position: static;
    width: 120px;
    cursor: pointer;
}

.styler input{
    margin-left: 10px;
    cursor: pointer;
}

input[type=checkbox]:checked + label {
    color: #f00;
    font-style: italic;
}


